body {
    font-family: Archivo, sans-serif;
    background-color: #d3bfa5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: url('images/512530-PI9K6T-283.jpg')
   ;
}

.screen {
    width: 100%;
    max-width: 70vw;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
}
.screen img {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-bottom: 20px;
}
#start-button {
    background-color: #F8E564;
    color: #282851;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#start-screen p {
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 800px;
}

.character-startup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.card {
    width: 45%;
    max-width: 200px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

#scenario-container {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

#points-container {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

#points-round-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#points-round-container h3 {
    margin: 0 20px;
    font-size: 18px;
    color: #333;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #FFF8BD;
    border: #282851 5px solid;
    margin: 15% auto;
    padding: 20px;
    width: 300px; /* Set a fixed width */
    max-width: 80vw; /* Ensure it doesn't exceed the viewport width */
    border-radius: 35px;
    text-align: center;
}

.ability-button {
    background-color: #F8E564;
    color: #282851;
    font-family: "neuropol-x-light", sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-image {
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: 0 auto;
    display: block;
}

/* Media queries for responsiveness */
@media (min-width: 768px) {
    .character-startup {
        flex-direction: row;
    }

    .card {
        width: 220px;
        height: 280px;
    }
}

